
<div class="card-trip">
  <img src="https://cdn.hellosubscription.com/wp-content/uploads/2018/12/28012446/korean-snack-box-january-2019-6.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @candy.name %></h2>
      <p><%= @candy.composition %></p>
      <p><span> <%= @candy.address %></span></p>
      <p><span> Available boxes: <%= @candy.availability %></span></p>
    </div>
    <h2 class="card-trip-pricing"><%= @candy.price%> $</h2>
  </div>
  <%= simple_form_for [@candy, @order_item] do |f| %>
  <div class="qty">
  <%= f.input :quantity, placeholder: "1", input_html: { min: '1', max: @candy.availability, step: 'any' } %>
  </div>
  Time before pick-up:
  <%= f.time_field :minutes,
      value: "%H:%M",
      min: '00:15:00',
      max: '01:00:00' %>
  <p><span>Min pick-up time is 15min, max is 1hour</span></p>

  <%= f.submit "Add to card", class: 'btn-primary' %>
  <% end %>
</div>

<%= link_to "Back", candies_path , class:'btn btn-primary'%>
