<div class="logo2">
      ANYO
      </div>
<div class="topname">
  Hello <%= @username %>
</div>


<div class="profile-box">

    <ul>
        <% @orders.each do |order|%>
          <p>You have the following items in your basket:</p>
          <%  order.order_items.each do |order_item|%>
         <%= order_item.candy.name %> <%= link_to '🟢', my_orders_orders_path, title:"Confirm" %>
          <%end%>
    <%end%>
     </ul>

    <% if !@candies.last.nil? %>

      <div class="box2">You have the following items on sale:
        <ul>
          <%= @candies&.last&.name %> - <%= @candies&.last&.availability %> box(es)
                  <%= link_to "🔴", candy_path(@candies&.last), title:"Delete",
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
          <%= link_to "🟠", edit_candy_path(@candies&.last), title:"Edit" %>
        </div>
      <% end %>
    </ul>
</div>

